#!/bin/bash

# alias
# -----
alias delds='pushd $(pwd) && cd ~ && find ~/ -name ".DS_Store" -delete && popd'
alias delicon='pushd $(pwd) && cd ~ && find ~/ -name "Icon\\r" -delete && popd'
alias desk='cd $HOME/Desktop'
alias dl='cd $HOME/Downloads'
alias hosts='cat /private/etc/hosts'
alias ll='ls -lah -D "%y%m%d %H:%M:%S"'
# alias openssl=/usr/local/opt/openssl@1.1/bin/openssl
# alias vi=vim

# install gsed by through brew because mac's default one is as BSD
alias sed='gsed'

# install `GNU grep` through brew because mac's default one does not support `-P` option
alias grep='ggrep'

# Google
# -----
# alias vault="cd $HOME"
# alias tips="cd $HOME"
# alias prj="cd $HOME"

# Dropbox
# alias tips="cd $HOME/Dropbox/Vault/01_tips"
# alias prj="cd $HOME/Dropbox/Vault/02_prj"

# Others
# -----
alias aria2c='aria2c -d $HOME/Desktop'

# restart touchbar@MBP2019
alias rt="sudo pkill TouchBarServer; sudo killall 'ControlSrip'"

# toggle Wi-fi
# cf.)
# - https://apple.stackexchange.com/questions/368046/how-to-check-status-of-wi-fi-adapter-through-command-line
# - https://www.mattcrampton.com/blog/managing_wifi_connections_using_the_mac_osx_terminal_command_line/
# - https://michaelsoolee.com/switch-wifi-macos-terminal/

# @TODO: create Raycast scripts to toggle wi-fi
# WIFI_STATUS="$(ifconfig en0 | awk '/status:/{print $2}')"
alias twn="networksetup -setairportpower en0 on"
alias twf="networksetup -setairportpower en0 off"
